* {
    box-sizing: border-box;
  }
  .html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    border: white;
    margin: 15px;

  }  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
      margin: 15px;
      border: 5px;
      border-style: dashed;
  }


  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 800px; 
    margin: 20px;
    text-align: left;
    color: whitesmoke;
  }
    .column2 {
      float:right;
      width: 50%;
      padding: 10px;
      height: 800px;
      margin: 20px;
      text-align:left;
    }
    .column3 {
      float: left;
      width: 75%;
      padding: 10px;
      height: 100px; 
      margin: 20px;
      text-align: left;
      color: rgb(223, 9, 9);
      background-color: teal;
    }
    .pic {
      padding: 10px;
      margin: 15px;
    }
   .entire {
     background-color: darkred;
   }

   